<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poritraanvolunteer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyWork"></activity>
        <activity android:name=".Approved" />
        <activity android:name=".SubmitPhoto" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".password_change" />
        <activity android:name=".password_reset" />
        <activity android:name=".forgot_pass" />
        <activity android:name=".forgot_pass_confirm" />
        <activity android:name=".recovery_code" />
        <activity android:name=".sign_up" />
        <activity android:name=".DonorActivity" />
        <activity android:name=".DonationManagementActivity" />
        <activity android:name=".WaitingForApproval" />
        <activity
            android:name=".AddRequest"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>